div#post-comments div.comment {
  padding: 5px;
  margin-bottom: 20px;
  border-left: 5px solid #ccf;
  background-color: rgb(232,232,255);
}

div#post-comments div.comment .content {
  margin-bottom: 0px;
  margin-top: 0px;
  width: 100%;
  overflow: auto;
  white-space: pre;
  background-color: transparent;
  border: none;
  border-top: 1px solid #222;
  outline: none;
  color: #555;
}

div#post-comments div.comment .show_more {
  margin-bottom: 10px;
}

div#post-comments div.comment button {
  color: #444;
  background-color: #ccc;
  border: 1px #99c solid;
}
