div.comment {
  padding: 5px;
  margin-bottom: 20px;
  border: 3px solid white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

div.comment .content {
  margin-bottom: 0px;
  margin-top: 0px;
  width: 100%;
  overflow: auto;
  white-space: pre;
  background-color: transparent;
  border: none;
  outline: none;
}

div.comment .show_more {
  margin-bottom: 10px;
}

div.comment button {
  color: #66f;
  background-color: #ccf;
  border: 1px #99c solid;
}
