body {
  background-image: url("/images/back.png");
  background-repeat: repeat;
}

.field_error {
  border: 3px solid red;
}

textarea {
  resize: none;
}

div#header {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  -webkit-border-radius: 100px;
}

div#header div#banner {
  height: 149px;
  width: 791px;
  background-image: url("/images/banner.png");
  margin-left: auto;
  margin-right: auto;
}

div#header div#slider {
  margin-top: 20px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

div#header div#slider_subtitle {
  text-align: center;
  height: 15px;
}

div#header div#slider_subtitle span#warning {
  opacity: 0.4;
}

div#header div#slider_subtitle span#title {
  color: #369;
  font-weight: bolder;
}

div#middle {
  margin-left: auto;
  margin-right: auto;
  width: 760px;
}

div#middle div#upcontents {
  text-align: right;
  margin-right: 40px;
  margin-bottom: 2px;
}

div#middle div#contents {
}

div#creative_commons {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px;
}
