body {
  background-color: ddf;
}

div.box {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border: 5px solid #99f;
  background-color: #bbf;
  margin-bottom: 30px;
}

div#all {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
}

div#header {
  padding-bottom: 20px;
}

div#header div#banner {
  height: 149px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  background-image: url("/images/banner.png");
}

div#header div#slider {
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div#header div#slider_subtitle {
  text-align: center;
  height: 15px;
}

div#header div#slider_subtitle span#warning {
  opacity: 0.4;
}

div#header div#slider_subtitle span#title {
  color: #369;
  font-weight: bolder;
}

div#post {
  padding-top: 10px;
  padding-left: 0px;
  padding-top: 0px;
}

div#post div#title {
  background-color: #ccf;
  border-bottom: 3px solid #99f;
  border-right: 3px solid #99f;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  margin-right: 30px;
}

div#post div#title h1 {
  font-family: Comic Sans MS;
  font-weight: bolder;
  color: #369;
  margin-top: 20px;
  margin-left: 15px;
}

div#post div#content {
  margin-left: 30px;
  margin-right: 30px;
}

div#post div#footer {
  padding-top: 50px;
  padding-right: 20px;
  font-size: 10px;
  text-align: right;
}

div#creative_commons {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom: none;
}
