#rss_image {background: url("../images/embed/rss.png") no-repeat center;}
#twitter_image {background: url("../images/embed/twitter.png") no-repeat center;}
#github_image {background: url("../images/embed/github.png") no-repeat center;}
#email_image {background: url("../images/embed/email.png") no-repeat center;}

body {
  background-color: black;
}

body a {
  color: #777;
}

div#menu ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

div#menu ul li {
  color: #444;
  float: left;
  font-size: 12px;
  text-align: center;
}

div#menu ul li.no-sf {
  padding-top: 1px;
}

div#menu ul li div.icon {
  width: 24px;
  height: 24px;
}

/* Espaçamento nas opções do menu */
div#menu ul li ul#menu-selecionavel li ul li {
  margin-left: 3px;
}

div#menu ul li.right {
  float: right;
}

div#menu ul li a.botao {
  margin-right: 2px;
  padding: 0px 6px;
  line-height: 20px;
  background-color: rgb(15,15,15);
  border: 3px solid #222;
}

div#menu ul li.botao {
  margin-right: 2px;
  line-height: 10px;
  background-color: rgb(15,15,15);
  border: 3px solid #222;
}

div#menu ul li.botao.postagens {
  padding-left: 8px;
  padding-right: 8px;
}

div#menu ul li img {
  width: 26px;
  height: 26px;
}

div#menu ul li a.botao:link, div#menu ul li.botao a:link  {
  color: #444;
  text-decoration: none;
}

div#menu ul li a.botao:visited, div#menu ul li.botao a:visited {
  color: #444;
}

div#menu ul li a.botao:hover, div#menu ul li.botao a:hover {
  color: #999;
  background-color: rgb(25,25,25);
}

div#header {
  text-align: center;
}

div.center {
  margin-left: auto;
  margin-right: auto;
}

div.main {
  background-color: rgb(12,12,12);
  width: 770px;
}

div#main {
  padding: 30px 0px;
}

div#main div.top {
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  color: #777;
  border-left: 3px solid #222;
}

div#post-related {
  line-height: 11px;
  font-size: 11px;
  background-color: rgb(20,20,20);
  border: 2px solid rgb(10,10,10);
}

div#post-related ul {
  display: inline-block;
  margin: 0px;
  padding: 0px 10px;
  list-style-type: none;
}

div#post-related ul li {
  float: left;
  margin-right: 10px;
}

div#post-related ul li a {
  color: rgb(70,70,70);
}

div#post-related span {
  float: left;
  font-weight: bold;
  color: rgb(70,70,70);
}

div#post div#post-title h1 {
  margin-top: 10px;
}

div#error div#error-title h1 {
  margin-top: 5px;
}

div.top-title h1 {
  text-decoration: underline;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 27px;
  color: #888;
}

div.top-title {
  background-color: #111;
}

div#post-footer {
  font-size: 11px;
  color: #999;
  float: right;
}

div#footer {
  padding: 15px 0px;
  border-top: 1px solid #444;
  background-color: rgb(10,10,10);
  font-size: 11px;
  color: #999;
  text-align: center;
  width: 790px;
}
