#logo_image {background: url("../images/embed/logo.png") no-repeat center;}
#rss_image {background: url("../images/embed/rss.png") no-repeat center;}
#twitter_image {background: url("../images/embed/twitter.png") no-repeat center;}
#github_image {background: url("../images/embed/github.png") no-repeat center;}
#gplus_image {background: url("../images/embed/gplus.png") no-repeat center;}
#email_image {background: url("../images/embed/email.png") no-repeat center;}

body {
  background-color: #ccf;
}

body a {
  color: #55f;
}

div#main > header {
  width: 960px;
  height: 48px;
  margin: 5px 0px;
}

div#main > header div#logo_image {
  display: block-inline;
  width:128px;
  height:48px;
  float: left;
  padding: 0px;
  margin-left: 10px;
  margin-right: 30px;
}

div#main > header div.icon {
  display: block-inline;
  width: 32px;
  height: 32px;
}

div#main > header ul#social {
  list-style-type: none;
  padding-top: 12px;
  margin: 0px;
}

header ul#social li {
  float: left;
}

div.center {
  margin-left: auto;
  margin-right: auto;
}

div.main {
  background-color: #eef;
  border: 2px solid #aaf;
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  -khtml-border-radius:  10px;
  border-radius:         10px;
}

div#main {
  padding-bottom: 30px;
  width: 960px;
}

div#main div.top {
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  color: #555;
}

div#post-related {
  line-height: 15px;
  font-size: 14px;
  background-color: #eee;
  border: 2px solid #9cf;
  margin-top:10px;
}

div#post-related span {
    margin-right: 10px;
}

ul.left-aligned {
  display: inline-block;
  margin: 0px;
  padding: 0px 10px;
  list-style-type: none;
}

ul.left-aligned li {
  float: left;
  margin-right: 10px;
}

div#post-related ul li a {
  color: rgb(70,70,70);
}

div#post-related span {
  float: left;
  font-weight: bold;
  color: rgb(70,70,70);
}

div#post div#post-title h1 {
  margin-top: 0px;
}

div#error div#error-title h1 {
  margin-top: 5px;
}

div.top-title h1 {
  text-decoration: underline;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 27px;
  color: #555;
}

div.top-title {
  background-color: #ddf;
}

div#post-left {
  width: 60px;
  vertical-align: top;
  display: inline-block;
}

div#post-right {
  width: 840px;
  border-left: 2px solid #cdf;
  padding-left: 5px;
  display: inline-block;
}

div#post-left ul {
  list-style-type: none;
  padding: 0px;
}

div#post-date span {
  font-size: 11px;
  color: #555;
  text-align: right;
  width: 100%;
}

div#footer {
  padding: 15px 0px;
  font-size: 11px;
  text-align: center;
  width: 960px;
  margin-top: 5px;
}

ul#suckerfishnav {
  margin-bottom: 30px;
}

ul#suckerfishnav * {
  position: static;
  z-index: 100;
}
