h2,h3,h4 {
  margin: 0px;
  margin-top: 20px;
  font-weight: normal;
  color: #555;
}

h2.first,h3.first,h4.first {
  margin-top: 0px;
}

h2 {font-size: 22px}
h3 {font-size: 18px}
h4 {font-size: 16px}

div.CodeRay {
  border: 1px #69f solid;
  background-color: #ddf;
  font-size: 12px;
  padding-left: 10px;
  margin-right: 15px;
  position: relative;
  left: 10px;
}

div.CodeRay table.CodeRay td.line_numbers {
  color: #55f;
  padding-right: 10px;
}

span.snippet {
  background-color: #eef;
  padding: 0px 2px;
  font-family: monospace;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

span.comment {
  background-color: #d0d0d0;
  font-size: 12px;
  padding: 0px 2px;
}

div#post-content {
  font-size: 14px;
}

div#post-content p {
  text-indent: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}
