@font-face {
  font-family: Segoe Print Bold;
  src: url(/segoe_print_bold.ttf);
}

h1,h2,h3 {
  margin: 0px;
  margin-top: 50px;
  font-family: Segoe Print Bold;
  font-weight: normal;
  color: #36f;
}

h1.first,h2.first,h3.first {
  margin-top: 0px;
}

h1 {font-size: 25px}
h2 {font-size: 20px}
h3 {font-size: 15px}

div.CodeRay {
  border: 1px #ccc solid;
  background-color: #dfdff5;
  font-size: 12px;
  padding-left: 10px;
  margin-right: 15px;
  position: relative;
  left: 10px;
}

div.CodeRay table.CodeRay td.line_numbers {
  color: #55f;
  /*border-right: 1px #55f solid;*/
  padding-right: 10px;
}

div #middle div#contents {
  font-size: 16px;
}

div #middle div#contents div#post p {
  text-indent: 30px
}
