@font-face {
  font-family: Segoe Print Bold;
  src: url(/segoe_print_bold.ttf);
}

h1,h2,h3 {
  margin: 0px;
  margin-top: 50px;
  font-family: Segoe Print Bold;
  font-weight: normal;
  color: #36f;
}

h1.first,h2.first,h3.first {
  margin-top: 0px;
}

h1 {font-size: 25px}
h2 {font-size: 20px}
h3 {font-size: 15px}

code {
  white-space: pre;
  display: block;
  font-size: 12px;
  width: 90%;
  position: relative;
  left: 25px;
  right: 25px
}

body {
  font-size: 13px;
}
