<div id="post" class="box">
  <div id="title">
    <h1><%=@post.title%></h1>
  </div>
  <div id="content">
    <%= render :inline => @post.body %>
  </div>
  <div id="footer">
    <%= @post.creation_date.to_s :portuguese %>
  </div>
</div>
