<ul class="sf-menu" id="menu-selecionavel">
  <li class="botao">
    <a href="#trabalhos">Trabalhos</a>
    <ul>
      <li>
        <a href="#ruby">Ruby</a>
        <ul>
          <li><a href="#esteblog">Este Blog</a></li>
          <li><a href="#caelumweb-rj">Caelumweb RJ</a></li>
        </ul>
      </li>
      <li>
        <a href="#javascript">Javascript</a>
        <ul>
          <li><a href="#pingos">Pingos</a></li>
          <li><a href="#estrelas">Estrelas</a></li>
        </ul>
      </li>
      <li>
        <a href="#compgrafica">Computação Gráfica</a>
        <ul>
          <li><a href="#wallpapers">Wallpapers</a></li>
          <li><a href="#avatars">Avatars</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="botao postagens">
    <a href="todos-os-posts">Postagens</a>
    <ul>
      <li>
        <a href="agosto2010">Agosto/2010</a>
        <ul>
          <li><a href="post12">Post 12</a></li>
          <li><a href="post11">Post 11</a></li>
        </ul>
      </li>
      <li>
        <a href="maio2010">Maio/2010</a>
        <ul>
          <li><a href="post10">Post 10</a></li>
          <li><a href="post09">Post 09</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
