<ul class="sf-menu" id="menu-selecionavel">
  <li class="botao postagens">
    <a href="todos-os-posts">Postagens</a>
    <ul>
      <li>
        <a href="agosto2010">Agosto/2010</a>
        <ul>
          <li><a href="post12">Post 12</a></li>
          <li><a href="post11">Post 11</a></li>
        </ul>
      </li>
      <li>
        <a href="maio2010">Maio/2010</a>
        <ul>
          <li><a href="post10">Post 10</a></li>
          <li><a href="post09">Post 09</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="botao">
    <a href="#meu-codigo">Meu Código</a>
    <ul>
      <li>
        <a href="#ruby">Ruby</a>
        <ul>
          <li><a href="#esteblog">Este Blog</a></li>
          <li><a href="#caelumweb-rj">Caelumweb RJ</a></li>
          <li><a href="#rspec-rails-extra-routing">RSpec Rails Extra Routing</a></li>
          <li><a href="#named-parameter">Named Parameter</a></li>
          <li><a href="#named-parameter">Ondas 2.0</a></li>
        </ul>
      </li>
      <li>
        <a href="#javascript">Javascript</a>
        <ul>
          <li><a href="#ondas-no-canvas">Ondas no Canvas</a></li>
          <li><a href="#estrelas">Estrelas</a></li>
          <li><a href="#pingos">Pingos Realtime</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="botao">
    <a href="#comunidade">Desenvolvimento no Rio</a>
    <ul>
      <li><a href="#rubyonrio">Ruby on Rio</a></li>
      <li><a href="#nodejs">NodeJS Brasil</a></li>
      <li><a href="#dojorio">Dojo Rio</a></li>
      <li><a href="#openspace">Open Space</a></li>
      <li><a href="#outros">Outros</a></li>
    </ul>
  </li>
</ul>
